<h1 class='heading'> 
Menu Page
</h1>


<div class="links-container">
    <%= link_to "Place Order", orders_path, class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Completed Orders", "/owner/completed", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Edit Orders", "/active/orders", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Dashboard", "/dashboard", class: "btn btn-outline-dark mr-20" %>
</div>

<h5 class='form-label-header'>Add Menu-Item</h5>
<%= form_with(url: "/menu_items", method: "POST", class: "form-container") do %>
      <%= text_field_tag "menu_id", nil, placeholder: "Menu Id", class: "form-field" %>
      <%= text_field_tag "name", nil, placeholder: "Name", class: "form-field" %>
      <%= text_field_tag "description", nil, placeholder: "Description", class: "form-field" %>
      <%= text_field_tag "price", nil, placeholder: "Price", type: "number", class: "form-field" %>
      <input type='submit' value="Add Menu Item", class="form-field btn-outline-dark" />
<% end %>

<h5 class='form-label-header'>Add Menu</h5>
<%= form_with(url: "/menus", method: "POST", class: "form-container") do %>
      <%= text_field_tag "name", nil, placeholder: "Menu Name", class: "form-field" %>
      <input type='submit' value="Add Menu", class="form-field btn-outline-dark" />
<% end %>

<h5 class='form-label-header'>Change Active Menu</h5>
<%= form_with(url: "/active_menus/1", method: "PUT", class: "form-container") do %>
      <%= text_field_tag "menu_id", nil, placeholder: "Menu Id", value: ActiveMenu.first.active_menu, class: "form-field", type: "number" %>
      <input type='submit' value="Update Active Menu", class="form-field btn-outline-dark" />
<% end %>

<h5 class='form-label-header'>Active Menu: <%= Menu.get_active_menu_name %></h5>

<% Menu.all.each do |el| %>
  <h4 class='menu-table-header'><%= "#{el.id}. #{el.name}" %></h4>
  <%= render partial: "menu-table",
             locals: { menu_data: MenuItem.menu_by_id(el.id) } %>
<% end %>