<table class="table table-width-fixed table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">&#8377; Price</th>
        <th scope="col">Id</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <% menu_data.each do |item| %>
        <tr>
          <td ><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.price %></td>
          <td><%= item.id %></td>
          <td>
            <%= form_with(url: "/order_items/?order_id=#{session[:current_order_id]}&menu_item_id=#{item.id}&menu_item_name=#{item.name}&menu_item_price=#{item.price}", method: "post") do %>  
              <input type="image" src="/add.svg" class='trash'>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>