
<% if @current_user.is_owner? %>  
  <div class="links-container">
    <%= link_to "Edit Menu & Items ", "/menus", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "See Orders", "/active/orders", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Edit Orders", "/active/orders", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Dashboard", "/dashboard", class: "btn btn-outline-dark mr-20" %>
  </div>
<% end %>

 <div class="links-container">
    <%= link_to "Pending Orders (User)", "/user/orders/", class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Completed Orders (User)", "/user/completed/", class: "btn btn-outline-dark mr-20" %>
  </div>


<h1 class='heading'>Order Here :  </h1>

<h5>Order Id:  <%= session[:current_order_id] %></h5>

<h5 class='form-label-header'>Active Menu: <%= Menu.get_active_menu_name %></h5>

<%= render partial: "user-menu-table",
           locals: { menu_data: MenuItem.menu_by_id(ActiveMenu.first.active_menu) } %>

<h3 class='form-label-header'>Your Cart: </h3>

<% if Order.find(session[:current_order_id]).order_items != [] %>

<%= render partial: "user-cart-table",
           locals: { cart_data: Order.find(session[:current_order_id]).order_items } %>




  <%= form_with(url: "/orders/#{session[:current_order_id]}?order_status=queue", method: "PUT", class: "form-container") do %>
      <button class='btn btn-outline-dark' onclick="this.form.submit()">Place Order</button>
  <% end %>

<% end %>
